OPENAI_API_KEY= {API KEY GOES HERE}
MONGO_URI=mongodb://{USERNAME GOES HERE}:{PASSWORD GOES HERE}@{DOMAIN ADDR OR IP GOES HERE}:5432/teachmemaths?authSource=admin
DB_NAME=teachmemaths


# Note: The above values are placeholders. Replace them with your actual credentials.